body {
  background-color: black;
}

.list {
  border-bottom: 1px solid rgb(156, 155, 155);
  &:hover {
    background-color: gray;
  }
}
span {
  color: white;
  font-size: 30px;
}
.song-number {
  color: grey;
  font-size: 30px;
}
.hidden {
  display: none;
}
.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 40px;
}
